<!Doctype html>
<html lang="en-US">

<head> 
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
   	<meta name="Calculator?"
    	content="iOS 8 web app">
    <meta name="apple-mobile-web-app-capable"
          content="yes">
    <meta name="apple-mobile-web-app-status-bar-style"
          content="black">
          <!-- New Meta-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
						
          
    <title> Web Development Showroom?</title>
    
    <link rel="apple-touch-icon" href="/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
<link rel="apple-touch-startup-image" href="/startup.png">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles.css" href="draw.css">

</head>
<body ng-app="Todo" onLoad="disableTouch()">
	<style type="text/css"></style></head>
						

 

<input type="color" id="lineColor" value="#272f3a">
<a onclick="save()" href="#"><span class="convert-to-image">Convert to Image</span></a> 
<img id="canvasImg" src="" class="converted-image" ></img>
					

<div class="page">
<h1>Jimmy Moore</h1>

<p>My paragraph seems to be pretty cool.</p>
 <div class="row">
  <div class="col-md-1">One Bee</div>
  <div class="col-md-1">Two Bees</div>
  <div class="col-md-1">Three Bees</div>
  <div class="col-md-1">Four Bees</div> 
  <div class="col-md-1">Five Bees</div>
  <div class="col-md-1">Six Bees</div>
  <div class="col-md-1">Seven Bees</div>
  <div class="col-md-1">Eight Bees</div>
  <div class="col-md-1">Nine Bees</div>
  <div class="col-md-1">Ten Bees</div>
  <div class="col-md-1">Eleven Bees</div>
  <div class="col-md-1">Twelve Bees</div> 
  <div class="col-md-1">Thirteen Bees</div>
  <div class="col-md-1">Fourteen Bees</div>
  <div class="col-md-1">Fifteen Bees</div>
  <div class="col-md-1">Sixteen Bees</div>
  <div class="col-md-1">Seventeen Bees</div>
  <div class="col-md-1">Eighteen Bees</div>
  <div class="col-md-1">Nineteen Bees</div>
  <div class="col-md-1">Twenty Bees</div>
  <div class="col-md-1">Twenty-One Bees</div>
  <div class="col-md-1">Twenty-Two Bees</div>
  <div class="col-md-1">Twenty-Three Bees</div>
  <div class="col-md-1">Twenty-Four Bees</div>
</div>

   <div class="controls">


    <div class="arrow" id="arrow-up" onmousedown="upStart()" onmouseup="upEnd()" onclick="void(0)" ontouchstart="upStart()" ontouchend="upEnd()" >^</div>

    <div class="arrow" id="arrow-down" onmousedown="downStart()" onmouseup="downEnd()" onclick="void(0)" ontouchstart="downStart()" ontouchend="downEnd()" >V</div>

    <div class="arrow" id="clear" onmousedown="canvasclear()" onmouseup="unclear()" onclick="void(0)" ontouchstart="canvasclear()" ontouchend="unclear()">X</div>

    <div class="arrow" id="arrow-left" onmousedown="leftStart()" onmouseup="leftEnd()" onclick="void(0)" ontouchstart="leftStart()" ontouchend="leftEnd()">&lt;</div>

    <div class="arrow" id="arrow-right" onmousedown="rightStart()" onmouseup="rightEnd()" onclick="void(0)" ontouchstart="rightStart()" ontouchend="rightEnd()">&gt;</div>


  </div>  
  							
<p>Return for a second paragraph??</p>
<img  src="nic.png" alt= "Nic Cage" width= "250" height= "150" title= "AHHHHH!!!!! SPIDERS!">
<p><a target="_blank" href="http://google.com">Google</a></p>
 
  <div class="page-container" ng-controller="TodoCtrl">
    <input type="text" ng-model="message" />
    <span> {{ message }} </span>
    <h2>Todo</h2>

      <ul class="todo-list" >
<li ng-repeat="todo in todos track by $index">
          <span>{{ todo }}</span>
         <button class="bt bt-achieve" ng-click="done(todo)">Done</button>
        </li>
      </ul>
  <ul class="add-todo">
    <li>
      <input type="text" class="txt" placeholder="New Todo"
             ng-model="newTodo" ng-keyup="add($event)" />
    </li>
  </ul>
  </div> 
</div>
<canvas id="myCanvas" width="800" height="600">
      
    </canvas>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.8/angular.js"></script>
    <script src="/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   	<script type="text/javascript" src="draw.js"></script>
   	<script>draw();</script> 
    </body>
</html>
