body{
overflow-x:hidden;
background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Gay_flag.svg/2000px-Gay_flag.svg.png");
}
img{
max-width:100%;
height:auto;
}
p{
color:#F445D3;
}
.page{
	max-width:71.428rem;
	margin-left:auto;
	margin-right:auto;
	padding-right:1rem;
	padding-left:1rem;
}